#slidercontainer {
    width: 90vw; /* Adjust width for better centering */
    max-width: 1400px; /* Prevent it from being too wide */
    display: flex;
    justify-content: center; /* Center the slider */
    align-items: center;
    margin: auto; /* Center the container */
    padding: 20px 0; /* Adds some vertical spacing */
}

#slider {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    padding: 0 60px 1rem 60px; /* Adds equal left and right padding */
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#slider::-webkit-scrollbar {
    display: none;
}

.slidercard {
    flex: 0 0 auto;
    max-width: 330px;
    min-width: 300px;
    background-color: #D9D9D9;
    border-radius: 25px;
    scroll-snap-align: start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sliderimage {
    margin: 10px;
    border-radius: 25px;
    width: calc(100% - 20px);
    object-fit: cover;
}
